.footer {
  background-color: #210B36;
  padding: 50px 0;

}

.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .footerText {
      font-size: 12px;
  }
}